.text1-container {
  display: flex;
  position: relative;
}
.text1-text {
  color: rgba(0, 0, 0, 0.79);
  font-size: 2rem;
  align-self: flex-start;
  font-family: Noto Sans;
  line-height: 1.3;
}
.text1-root-class-name {
  align-self: flex-start;
}
.text1-root-class-name1 {
  align-self: flex-start;
}
.text1-root-class-name2 {
  align-self: flex-start;
}
.text1-root-class-name3 {
  align-self: flex-start;
}
.text1-root-class-name4 {
  align-self: flex-start;
}
.text1-root-class-name5 {
  align-self: flex-start;
}
.text1-root-class-name6 {
  align-self: flex-start;
}
@media(max-width: 991px) {
  .text1-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .text1-text {
    font-size: 1.5rem;
  }
}

.image-container {
  width: 30px;
  height: 3px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
  background-color: #D9D9D9;
}
.image-root-class-name {
  align-self: flex-start;
}
.image-root-class-name1 {
  align-self: flex-start;
}
.image-root-class-name2 {
  align-self: flex-start;
}
.image-root-class-name3 {
  align-self: flex-start;
}
.image-root-class-name4 {
  align-self: flex-start;
}
.image-root-class-name5 {
  align-self: flex-start;
}
.image-root-class-name6 {
  align-self: flex-start;
}

.text3-container {
  display: flex;
  position: relative;
}
.text3-text {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-family: Noto Sans;
}
@media(max-width: 479px) {
  .text3-text {
    font-size: 14px;
  }
}

.container3-container {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(217, 217, 217, 0.15);
}
.container3-image {
  width: 60px;
  object-fit: cover;
}
.container3-text {
  color: rgba(0, 0, 0, 0.7);
  padding: var(--dl-space-space-halfunit);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: Noto Sans;
  font-weight: 500;
}
@media(max-width: 479px) {
  .container3-container {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .container3-image {
    width: 40px;
  }
  .container3-text {
    font-size: 12px;
  }
}

.container8-container {
  flex: 0 0 auto;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 767px) {
  .container8-container {
    height: 20px;
    border-style: solid;
  }
}

.container6-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container6-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  font-family: Noto Sans;
}
.container6-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.container6-container2 {
  display: flex;
  align-items: flex-start;
}
.container6-text1 {
  color: rgba(0, 0, 0, 0.6);
}
.container6-link {
  color: #265d73;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.container6-text2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-family: Noto Sans;
}
.container6-root-class-name1 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name2 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name3 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name4 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name5 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name6 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name7 {
  margin-top: var(--dl-space-space-doubleunit);
}
@media(max-width: 767px) {
  .container6-root-class-name1 {
    margin-top: 0px;
  }
  .container6-root-class-name2 {
    margin-top: 0px;
  }
  .container6-root-class-name3 {
    margin-top: 0px;
  }
  .container6-root-class-name4 {
    margin-top: 0px;
  }
  .container6-root-class-name5 {
    margin-top: 0px;
  }
  .container6-root-class-name6 {
    margin-top: 0px;
  }
  .container6-root-class-name7 {
    margin-top: 0px;
  }
}
@media(max-width: 479px) {
  .container6-text {
    font-size: 1em;
  }
  .container6-text1 {
    font-size: 14px;
  }
  .container6-link {
    font-size: 14px;
  }
  .container6-text2 {
    font-size: 16px;
  }
}

.image3-container {
  display: flex;
  position: relative;
}
.image3-image {
  width: 135px;
  height: 265px;
  margin-top: var(--dl-space-space-unit);
  object-fit: fill;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
}
@media(max-width: 479px) {
  .image3-image {
    width: 100px;
    height: 200px;
  }
}

.container1-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-tripleunit);
  background-color: rgba(217, 217, 217, 0.2);
}
.container1-image {
  width: 80px;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
}
.container1-container1 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
}
.container1-container2 {
  display: flex;
  position: relative;
}
.container1-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  font-family: Noto Sans;
  margin-left: var(--dl-space-space-doubleunit);
}
.container1-text1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-family: Noto Sans;
  margin-left: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.container1-root-class-name2 {
  background-color: rgba(217, 217, 217, 0.15);
}
.container1-root-class-name3 {
  background-color: rgba(217, 217, 217, 0.15);
}
.container1-root-class-name4 {
  background-color: rgba(217, 217, 217, 0.15);
}
.container1-root-class-name5 {
  margin-top: var(--dl-space-space-doubleunit);
  background-color: rgba(217, 217, 217, 0.15);
}
.container1-root-class-name {
  background-color: rgba(217, 217, 217, 0.15);
}
@media(max-width: 479px) {
  .container1-container {
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: rgba(217, 217, 217, 0.15);
  }
  .container1-image {
    width: 60;
    padding-right: var(--dl-space-space-unit);
  }
  .container1-text {
    font-size: 1em;
    margin-left: var(--dl-space-space-halfunit);
  }
  .container1-text1 {
    font-size: 11.5px;
    margin-left: var(--dl-space-space-halfunit);
    padding-left: 0px;
    padding-right: 0px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-left: 40PX;
  padding-right: 40PX;
  flex-direction: column;
  padding-bottom: 64px;
  justify-content: space-between;
  background-color: #5a5a5a;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-container02 {
  display: flex;
  opacity: 0.8;
  transition: 0.3s;
  align-items: flex-start;
  justify-content: center;
}
.home-container02:hover {
  opacity: 1.0;
}
.home-link {
  display: contents;
}
.home-icon {
  width: 25px;
  height: 25px;
  opacity: 0.9;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-icon:hover {
  opacity: 1;
}
.home-link1 {
  display: contents;
}
.home-icon2 {
  width: 25px;
  height: 25px;
  opacity: 0.9;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-icon2:hover {
  width: 25px;
  height: 25px;
  opacity: 1;
}
.home-container03 {
  width: 130px;
  height: 130px;
  display: flex;
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  background-image: url("public/me-200h.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
.home-text {
  color: #ffffff;
  font-size: 2.5em;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
}
.home-text1 {
  color: #f1f1f1;
  font-size: 22px;
  font-family: Noto Sans;
  line-height: 1;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-self: flex-start;
  align-items: stretch;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.home-container04 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-container05 {
  display: flex;
  position: relative;
}
.home-hero1 {
  width: 100%;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-self: flex-start;
  align-items: stretch;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.home-container06 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-container07 {
  flex: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.home-hero2 {
  width: 100%;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-self: flex-start;
  align-items: stretch;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.home-container08 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-component021 {
  text-decoration: none;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-component029 {
  text-decoration: none;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-component037 {
  text-decoration: none;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-hero3 {
  width: 100%;
  height: 559px;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-self: flex-start;
  align-items: stretch;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.home-container19 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-container20 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-container21 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-hero4 {
  width: 100%;
  height: 444px;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-self: flex-start;
  align-items: stretch;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.home-container22 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.16);
}
.home-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container23 {
  display: flex;
  opacity: 0.8;
  transition: 0.3s;
  align-items: flex-start;
  justify-content: center;
}
.home-container23:hover {
  opacity: 1.0;
}
.home-link2 {
  display: contents;
}
.home-icon4 {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-icon4:hover {
  opacity: 1;
}
.home-link3 {
  display: contents;
}
.home-icon6 {
  width: 30px;
  height: 30px;
  opacity: 0.7;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-icon6:hover {
  width: 30px;
  height: 30px;
  opacity: 1;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container04 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-container06 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .home-hero2 {
    flex-direction: column;
  }
  .home-container08 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .home-hero3 {
    flex-direction: column;
  }
  .home-container19 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
  .home-hero4 {
    flex-direction: column;
  }
  .home-container22 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container01 {
    justify-content: flex-start;
  }
  .home-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-hero1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-hero2 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container09 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-container10 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-container11 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-hero3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-hero4 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: 0;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-container01 {
    justify-content: flex-start;
  }
  .home-container03 {
    width: 100px;
    height: 100px;
  }
  .home-text {
    font-size: 2em;
  }
  .home-text1 {
    font-size: 16;
  }
  .home-hero {
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0;
  }
  .home-hero1 {
    padding-top: 0;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: 0;
  }
  .home-hero2 {
    padding-top: 0;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: 0;
  }
  .home-container09 {
    align-items: center;
    justify-content: center;
  }
  .home-container10 {
    align-items: center;
    justify-content: center;
  }
  .home-container11 {
    align-items: center;
    justify-content: center;
  }
  .home-container12 {
    align-items: center;
    justify-content: center;
  }
  .home-container13 {
    align-items: center;
    justify-content: center;
  }
  .home-container14 {
    align-items: center;
    justify-content: center;
  }
  .home-container15 {
    align-items: center;
    justify-content: center;
  }
  .home-container16 {
    align-items: center;
    justify-content: center;
  }
  .home-container17 {
    align-items: center;
    justify-content: center;
  }
  .home-container18 {
    align-items: center;
    justify-content: center;
  }
  .home-hero3 {
    padding-top: 0;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: 0;
  }
  .home-container19 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero4 {
    padding-top: 0;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: 0;
  }
  .home-container22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-footer {
    padding-top: var(--dl-space-space-tripleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-tripleunit);
  }
}
