<div>
  <link href="./blog-post-card4.css" rel="stylesheet" />
  <div class="blog-post-card4-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHZlbmljZXxlbnwwfHx8fDE2MjYyNzIyOTA&ixlib=rb-1.2.1&w=1000"
      class="blog-post-card4-image"
    />
    <div class="blog-post-card4-container">
      <span class="blog-post-card4-text"><span>JULY 24</span></span>
      <span class="blog-post-card4-text1">
        <span>
          Lorem ipsum lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </span>
      </span>
      <div class="blog-post-card4-separator"></div>
      <span class="blog-post-card4-text2"><span>Food & Drink</span></span>
    </div>
  </div>
</div>
