<div>
  <link href="./container6.css" rel="stylesheet" />
  <div class="container6-container">
    <h1 class="container6-text"><span>Vedika - The Knowledge App</span></h1>
    <div class="container6-container1">
      <div class="container6-container2">
        <span class="container6-text1"><span>Jan 2021</span></span>
        <a
          href="https://goggle.com"
          target="_blank"
          rel="noreferrer noopener"
          class="container6-link"
        >
          <span>Play Store Link</span>
        </a>
      </div>
    </div>
    <span class="container6-text2">
      <span>
        Vedika is an educational app that includes daily updated informative
        posts, daily live quizzes, instant games, stories, and more.
      </span>
    </span>
  </div>
</div>
