<div>
  <link href="./container4.css" rel="stylesheet" />
  <div class="container4-container">
    <h1 class="container4-text"><span>Vedika</span></h1>
    <div class="container4-container1">
      <span class="container4-text1"><span>Jan 2021</span></span>
      <span class="container4-text3">
        <span>Play S</span>
        <span>&amp;#8203;</span>
        <span>tore Link</span>
        <span>&amp;#8203;</span>
      </span>
    </div>
    <span class="container4-text8">
      <span>
        Vedika is an educational app that includes daily updated informative
        posts, daily live quizzes, instant games, stories, and more.
      </span>
    </span>
  </div>
</div>
