.container2-container {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(217, 217, 217, 0.15);
}
.container2-image {
  width: 60px;
  object-fit: cover;
}
.container2-text {
  color: rgba(0, 0, 0, 0.7);
  padding: var(--dl-space-space-halfunit);
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
}
