.container6-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container6-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  font-family: Noto Sans;
}
.container6-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
}
.container6-container2 {
  display: flex;
  align-items: flex-start;
}
.container6-text1 {
  color: rgba(0, 0, 0, 0.6);
}
.container6-link {
  color: #265d73;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
  text-decoration: underline;
}
.container6-text2 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-family: Noto Sans;
}
.container6-root-class-name1 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name2 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name3 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name4 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name5 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name6 {
  margin-top: var(--dl-space-space-doubleunit);
}
.container6-root-class-name7 {
  margin-top: var(--dl-space-space-doubleunit);
}
@media(max-width: 767px) {
  .container6-root-class-name1 {
    margin-top: 0px;
  }
  .container6-root-class-name2 {
    margin-top: 0px;
  }
  .container6-root-class-name3 {
    margin-top: 0px;
  }
  .container6-root-class-name4 {
    margin-top: 0px;
  }
  .container6-root-class-name5 {
    margin-top: 0px;
  }
  .container6-root-class-name6 {
    margin-top: 0px;
  }
  .container6-root-class-name7 {
    margin-top: 0px;
  }
}
@media(max-width: 479px) {
  .container6-text {
    font-size: 1em;
  }
  .container6-text1 {
    font-size: 14px;
  }
  .container6-link {
    font-size: 14px;
  }
  .container6-text2 {
    font-size: 16px;
  }
}
