<div>
  <link href="./container1.css" rel="stylesheet" />
  <div class="container1-container">
    <img
      alt="image"
      src="public/1525862345784-200h.jpg"
      class="container1-image"
    />
    <div class="container1-container1">
      <div class="container1-container2">
        <h1 class="container1-text"><span>SoluLab Inc</span></h1>
      </div>
      <span class="container1-text1">
        <span>Android Developer [Sep 2021 - Feb 2022]</span>
      </span>
    </div>
  </div>
</div>
