.text3-container {
  display: flex;
  position: relative;
}
.text3-text {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-family: Noto Sans;
}
@media(max-width: 479px) {
  .text3-text {
    font-size: 14px;
  }
}
