<div>
  <link href="./text3.css" rel="stylesheet" />
  <div class="text3-container">
    <span class="text3-text">
      I&apos;m a passionate Android Developer with over three years of
      experience. I have developed more than 15 applications from scratch
      single-handedly. I have solid experience in Firebase. Good knowledge of UI
      design. Currently exploring Jetpack Compose to build amazing apps in
      Android. Having some experience in hybrid app development also like React
      Native and Flutter.I love traveling, cooking, playing cricket, and
      clicking photos!
    </span>
  </div>
</div>
